<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>supplier</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/supplier/add"><i class="fa fa-user-plus"></i>New Supplier</a>&nbsp;
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Supplier Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/supplier/workingPlace" id="searchShow" class="btn btn-primary">
                <i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;
                <i class="fas fa-store-alt" style="font-size: 20px"></i>
                &nbsp;
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="supplierListPresent" th:if="${not #lists.isEmpty(suppliers)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                    <tr>
                        <th> Index</th>
                        <th> Name</th>
                        <th> Contact No1</th>
                        <th> Email</th>
                        <th> Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="supplier, rowCount : ${suppliers}">
                        <th th:text="${rowCount.count}"></th>
                        <th th:text="${supplier.name}"></th>
                        <th th:text="${supplier.contactOne}"></th>
                        <th th:text="${supplier.email}"></th>
                        <th>
                            <a id="supplierView" th:href="${'/supplier/' + supplier.id}" class="btn btn-success btn-sm"><i class="fa fa-folder-open"></i>&nbsp;View</a>
                            <a id="supplierEdit" th:href="${'/supplier/edit/' + supplier.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                            <a id="supplierRemove" th:href="${'/supplier/remove/' + supplier.id}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" th:if="${ #lists.isEmpty(suppliers)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no supplier upto now please add supplier to the system using add user button.</strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>