<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
<nav data-th-fragment="navBarFragment">
    <header class="header-area overlay">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container ml-0">
                <a href="#" class="navbar-brand nav-link disabled">
                    <img src="/img/Kmart_logo.svg" alt="logo" style="width:60px;">
                    Super
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu">
                            <a href="/employee" class="dropdown-item">Employee</a>
                            <a href="/user" class="dropdown-item">User</a>
                            <a href="/role" class="dropdown-item" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN')">Role</a>
                        </div>
                    </li>
                    <li class="nav-item "
                        data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')">
                        <a href="/supplier" class="nav-link">Supplier</a>
                    </li>
                    <li class="nav-item" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">
                        <a href="/customer" class="nav-link">Customer</a>
                    </li>
                    <li class="nav-item dropdown" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER', 'ROLE_PROCUREMENT_MANAGER')">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Items</a>
                        <div class="dropdown-menu">
                            <a href="/category" class="dropdown-item" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">Category</a>
                            <a href="/item" class="dropdown-item">Item</a>
                            <a href="/ledger" class="dropdown-item">Ledger</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER', 'ROLE_CASHIER')">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Purchase</a>
                        <div class="dropdown-menu">
                            <a href="/purchaseOrder" class="dropdown-item">Order</a>
                            <a href="/goodReceivedNote" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')">GRN</a>
                            <a href="/payment" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">Payment</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Invoice</a>
                        <div class="dropdown-menu">
                            <a href="/invoice" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">Order</a>
                            <a href="/discountRatio" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">Discounts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"
                        data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER', 'ROLE_CASHIER')">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reports</a>
                        <div class="dropdown-menu">
                            <a href="/report/manager" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">Summary</a>
                            <a href="/report/allInvoice" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">Invoice</a>
                            <a href="/report/allPayment" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_CASHIER')">Payment</a>
                            <a href="/report/perCashierInvoice" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">C. Invoice</a>
                            <a href="/report/perCashierPayment" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">C. Payment</a>
                            <a href="/report/perItem" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')">Sales</a>
                            <a href="/item/rop" class="dropdown-item"
                               data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_PROCUREMENT_MANAGER')">ROP Achieved</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" data-sec-authorize="isAuthenticated()">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown1">
                            <i class="fas fa-user-tie fa-lg"></i>&nbsp;
                            <span data-th-text="${#authentication.name}"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" data-th-href="${'/profile'}">
                                <i class="fas fa-user-cog"></i>&nbsp;Profile
                            </a>
                            <a class="dropdown-item" data-th-href="${'/passwordChange'}">
                                <i class="fas fa-key"></i>&nbsp;Change PW
                            </a>
                            <a href="/logout" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown " data-sec-authorize="!isAuthenticated()">
                        <a href="/login" class="nav-link">
                            <i class="fas fa-sign-in-alt"></i>&nbsp;Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</nav>
</body>
</html>
